<input
    role="password"
    type="@InputType"
    placeholder="@Name"
    value="@Value"
    disabled="@Disabled"
    @oninput="TriggerValueChanged" />
<button
    title="@ShowPasswordTooltip"
    @onclick="e => _showPassword = !_showPassword">
    @ShowPasswordText
</button>

@code
{
    private bool _showPassword = false;

    private string InputType => _showPassword
        ? "text"
        : "password";

    private string ShowPasswordText => _showPassword
        ? "Hide"
        : "Show";
    
    private string ShowPasswordTooltip => _showPassword
        ? "Hide the password behind '*' in the input field."
        : "Show the password as plain text in the input field.";

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task TriggerValueChanged(ChangeEventArgs e)
    {
        var newValue = e.Value as string;
        await ValueChanged.InvokeAsync(newValue);
    }
}


